APP_NAME=SignLearn Backend
ENVIRONMENT=development
DEBUG=True
API_V1_STR=/api/v1
SECRET_KEY=backend_secret_key_dev_signlearn_2026
JWT_SECRET=backend_jwt_secret_dev_signlearn_2026

# PostgreSQL
DATABASE_URL=postgresql+asyncpg://signlearn:signlearn_secret@localhost:5432/signlearn_db

# MongoDB
MONGODB_URL=mongodb://admin:admin_secret@localhost:27017/signlearn_nosql?authSource=admin

# Redis
REDIS_URL=redis://localhost:6379/0

CORS_ORIGINS=["http://localhost:3000"]
